$app-modal-btn-close-size: 30px;
$app-modal-actions-padding: 30px;
$app-modal-btn-close-ease: cubic-bezier(.59,-0.41,.45,.99);

.app-modal-view {
    @extend %position-fixed;
    @include size(100%);
    overflow-y: scroll;
    z-index: 100;
}

.app-modal-view-actions {
    padding: $app-modal-actions-padding;

    .btn-close {
        @extend %position-relative;
        display: inline-block;
        background: transparent;
        cursor: pointer;
        @include size($app-modal-btn-close-size);
        @include transition(transform 0.5s $app-modal-btn-close-ease);

        &::before,
        &::after {
            @extend %position-absolute;
            content: "";
            width: $app-modal-btn-close-size;
            height: 2px;
            top: ($app-modal-btn-close-size / 2) - 1;
            border-radius: 2px;
        }

        &::before {
            @include transform(rotate(-45deg));
        }

        &::after {
            @include transform(rotate(45deg));
        }

        &:hover {
            @include transform(rotate(90deg));
        }
    }
}

.app-modal-view-default {
    background: $black;
    background: rgba(0,0,0,0.85);

    .btn-close {
        &::before,
        &::after {
            background-color: $white;
        }
    }
}

.app-modal-view-inverse {
    background: $white;
    background: rgba(255,255,255,0.9);

    .btn-close {
        &::before,
        &::after {
            background-color: $black;
        }
    }
}

.app-modal-view-content {

}